/* -----------------  CLASSI GENERICHE --------------------*/
/* Set the size of the div element that contains the map */
#mapCanvas {
    min-height:100vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.centrato {
    text-align: center;
}

.white-text {
    color: #fff;
}

.celeste {
    color:#03e9f4;
}

html,
body {
    color:#fff;
    margin: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-toggler-icon { 
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* -----------------  NAVBAR --------------------*/

#navbarNav, h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
    font-weight: 600;
}

.navbar {
    background-color: #0b111a;
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    color: #e8e8e8 !important;
    /* border-bottom: 1px solid white;
    border-width: 3px;
    transition: border 0.3s;*/
}

.btn-navbar {
    color: #0b111a;
}

.centra-navbar {
    margin: auto;
}

.nav-link.active {
    color: #03e9f4 !important;
}

.fa-user {
    font-size: 1.5rem;
    padding-right: 5%;
    padding-left: 3%;

}

.fa-user:hover,
.navbar-brand:hover {
    border: 0px !important;
}

.form-group {
    margin: 30px;
}

.modal-content {
    padding-bottom: 1rem;
}
.modal-header .btn-close {
    margin: 0;
    padding: 0;
}

.modal-header {
    padding: 1.5rem 1rem;
    border-bottom: 0;
}

.modal.fade.show {
    background:linear-gradient(#141e30, #243b55);
}
.modal-content {
    background: transparent;
}
.modal-content input {
    margin:15px auto !important;
}
.bottone-accedi {
    display: block;
    margin: auto;
    width: 80px;
}

.navbar-brand {
    padding-left: 5%;
    width: 20%;
}


.tipo-utente {
    color: orange;
}

/* ----------------- FINE NAVBAR --------------------*/

/*  ------------------ SEARCH BAR  ------------------ */
.form-outline {
    margin: 4rem auto;
    display: inherit;
    font-family: Poppins;
}

.bordo-regione {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

.bordo-data {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.bordo-centrale {
    border-radius: 0;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: none;
}

/*
.form-control:hover {
    background-color: rgb(248, 245, 241, 0.5);
} */

#search-button {
    border-radius: 50%;
    margin-left: 10px;
    background-color: #243b55;
    border-color: #243b55;
    line-height: 2;
    color: white;
}

#search-button:hover {
    background-color: #0b111a;
    border-color: #0b111a;
}

.ricerca {
    background-image: url(img/saidasdasd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 200px;
}

.row.ricerca {
    --bs-gutter-x: 0;
}

.barra-ricerca input:-webkit-autofill,
.barra-ricerca input:-webkit-autofill:hover,
.barra-ricerca input:-webkit-autofill:focus,
.barra-ricerca input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color:black !important;
}


/* -------------FINE SEARCH BAR -------------------*/


/* -------------INIZIO REGISTRAIZONE -------------------*/
.form-registrazione, .modal-dialog {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-top: 2%;
    padding: 4%;
}

.container.form-registrazione {
    max-width: 30%;
}

.form-registrazione input, .modal-content input {
    margin: 15px;
    border-bottom: 3px solid;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    color:#fff;
}
.form-registrazione input:focus, .modal-content input:focus {
    background-color:transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-registrazione .btn {
    margin: 15px;
}
label {
    font-weight: 700;
    color: #fff;
    order: -1;
    padding-left: 5px;
    transition: all 0.3s ease-in;
    transform: translateY(24px);
    pointer-events: none;
  }
input:focus + label {
    transform: translateY(15px);
    color: #03e9f4;
  }

  .input-form {
    display: flex;
    flex-direction: column;
  }

form .btn-outline-primary {
    color: #03e9f4;
    background-color: transparent;
    border-color: #03e9f4;
}

form .btn-outline-primary:hover {
    color: #fff;
    background-color: #03e9f4;
    border-color: #03e9f4;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}




/*-------------- RICERCA LABORATORIO ----------------*/

.nome-lab {
    font-family: Poppins;
    font-weight: 600;
}
.list-group-flush {
    padding-top: 5%;
}

.ricerca-lab .row {
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
}
.ricerca-lab img {
    border-radius: 20px;
}
.mappe {
    padding-right: 0;
    padding-left: 0;
}
.info_content {
    color:#0b111a !important;
}

/*-------------- MEDIA QUERIES ----------------*/
@media (max-width: 1440px) {
    .container.form-registrazione {
        max-width: 40%;
    }
}
@media (max-width: 1199px) {
    .container.form-registrazione {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    #login {
        display: none;
    }
}

@media (max-width: 992px) {
    .centra-navbar {
        text-align: center;
    }
    .fa-user {
        visibility: hidden;
    }
    .container.form-registrazione {
        max-width: 75%;
    }
    .input-form {
        padding-right: 50px;
    }
    .logout {
        text-align: center;
    }
}

@media (max-width: 678px) {
    .container.form-registrazione {
        max-width: 85%;
    }
    
}
