
/* -----------------  NAVBAR --------------------*/

#navbarNav {
    font-family: Poppins;
    font-weight: 600;
}
.navbar {
    background-color: #5eaaa8;
}
.navbar a {
    color: #fff !important;
} 
.navbar a:hover {
    color: #e8e8e8 !important;
   /* border-bottom: 1px solid white;
    border-width: 3px;
    transition: border 0.3s;*/
}
 
.btn-navbar {
    color: #5eaaa8;
}

.centra-navbar {
    margin: auto;
}
.nav-link.active {
    color:red !important;
}
.fa-user {
    font-size: 1.5rem;
    padding-right: 5%;
    padding-left:3%;
    
}

.fa-user:hover, .navbar-brand:hover {
    border: 0px !important;
}

.form-group {
    margin:30px;
}
.modal-content {
    padding-bottom: 1rem;
}
.modal-header {
    padding: 1.5rem 1rem;
}

.bottone-accedi {
    display: block;
    margin: auto;
    width:80px;
}

.navbar-brand {
    padding-left: 5%;
    width: 20%;
}


.tipo-utente { 
    color: orange;
}

/* ----------------- FINE NAVBAR --------------------*/

/*  ------------------ SEARCH BAR  ------------------ */
.form-outline {
    margin:4rem auto;
    display: inherit;
    font-family: Poppins;
}

.bordo-regione {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
}

.bordo-data {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius:1rem;
}

.bordo-centrale {
    border-radius:0;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: none;
}

.form-control:hover {
    background-color: rgb(248, 245, 241, 0.5);
}

#search-button {
    border-radius:50%;
    margin-left: 10px;
    background-color: #5eaaa8;
    border-color: #5eaaa8;
    line-height: 2;
}
#search-button:hover {
    background-color: #a3d2ca;
    border-color: #a3d2ca;
}

.ricerca {
    background-image: url(img/test-tube.png);
    background-position: center;
    background-repeat: no-repeat;
    

    padding-top: 100px;
    padding-bottom:100px;
}


/* -------------FINE SEARCH BAR -------------------*/


/* -------------INIZIO REGISTRAIZONE -------------------*/
.form-registrazione input {
    margin:15px;
}
.form-registrazione .btn {
    margin-top: 15px;
}
form .btn-primary {
    color: #5eaaa8;
    background-color:  #fff;
    border-color:  #5eaaa8;
}

form .btn-primary:hover {
    color: #fff;
    background-color:  #5eaaa8;
    border-color:  #5eaaa8;

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    #login {
        display: none;
    }
}

@media (max-width: 992px) {
    .centra-navbar {
        text-align:center;
    }

    .fa-user {
        visibility: hidden;
    }
}